.Races img{
   
    margin-left:25%;
    width:50%;
    height: auto;
}
.Races select{
    border-radius: 5px;
  margin-left:25%;
  width: 50%;
  height:30px
}
.Races h1{
    text-align: center;
}
.Races{
    margin-top: 10px;
    padding: 5px;
    background-color: lightgrey;
    background-image: url('../App/background.jpg');
    height: 75vh;
    overflow-y: auto;
    border-radius: 8px;
}