.Races img{
   
    margin-left:25%;
    width:50%;
    height: auto;
}
.Races select{
    border-radius: 5px;
  margin-left:25%;
  width: 50%;
  height:30px
}
.Races h1{
    text-align: center;
}
 p{
    white-space: pre-wrap;
}