.CharacterSheet p{
    white-space: pre-wrap;
}
.stats input{
    margin: 0; 
    padding:0;
}
.skillName{
    height:68vh;
    overflow-y: auto;
}
.skillDef{
    height:68vh;
    overflow-y: auto;
}
.skillPage{
    overflow-y: hidden;
    overflow-x: hidden;
}
.stats.ui.label.label{
    padding:0
}