.Skills  select{
    border-radius: 5px;
  width: 100%;
  height:30px
}
.Skills  h1{
    text-align: center;
}
.skillDef{
    height:330px;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.skillDef p{
    word-wrap: break-word;
}
.skillnames{
    height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Skills{
    margin-top: 10px;
    padding: 5px;
    background-color: lightgrey;
    background-image: url('../App/background.jpg');
    height: 75vh;
    overflow-y: auto;
    border-radius: 8px;
}